* {
    box-sizing: border-box;
}

body {
    background: #ccc;
    font-size: 18px;
    text-align: center;
}

.wrapper {
    width: 1024px;
}
.section-1 {
    width: 500px;
    padding: 20px;
    background-color: darkslategray;
    float: left;
    border: black solid ;
    color: cyan;
}
.section-2 {
    width: 500px;
    padding: 20px;
    background-color: lightblue;
    float: right;
    border: black solid;
    color: black;
}

img {
    border: darkgray solid;
    margin-top: 30px;
}

@media screen and (max-width: 1027px) {
    body {
        background-color: lightslategray;
    }
    .wrapper {
        width: 100%;
        padding: 20px;
    }
    .section-1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .section-2 {
        width: 100%;
    }
    img {
        margin-top: 30px;
    }


}