.bgImageStarbase {
  background-color: lightgray;
}

.bgimg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-color: rgb(52, 52, 52);
  background: -moz-linear-gradient(
    90deg,
    rgba(52, 52, 52, 1) 0%,
    rgba(109, 140, 185, 1) 27%,
    rgba(1, 3, 80, 1) 46%,
    rgba(166, 193, 177, 1) 71%,
    rgba(166, 167, 193, 1) 85%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(52, 52, 52, 1) 0%,
    rgba(109, 140, 185, 1) 27%,
    rgba(1, 3, 80, 1) 46%,
    rgba(166, 193, 177, 1) 71%,
    rgba(166, 167, 193, 1) 85%,
    rgba(249, 249, 249, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(52, 52, 52, 1) 0%,
    rgba(109, 140, 185, 1) 27%,
    rgba(1, 3, 80, 1) 46%,
    rgba(166, 193, 177, 1) 71%,
    rgba(166, 167, 193, 1) 85%,
    rgba(249, 249, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343434",endColorstr="#f9f9f9",GradientType=1);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
.bgimg-2 {
  background-image: url("./Assets/Images/neoncar.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
}
.bgimg-3 {
  background-image: url("./Assets//Images/cool-city.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

body {
  min-height: 100%;
}
.navbar-fixed-left {
  position: fixed;
  width: 10%;
  z-index: 2000;
}

.card-font {
  padding-top: 30px;
  font-size: x-large;
  color: "white";
  font-family: "Roboto", sans-serif;
}

.card-background {
  opacity: 1;
  color: lightgray;
  font-size: 15px;
  text-align: left;
}

.card-background2 {
  font-family: "Roboto", sans-serif;
  font-size: large;
  opacity: 1;
  color: lightgray;
  text-align: left;
}
.card-background3 {
  font-family: "Roboto", sans-serif;
  font-size: large;
  opacity: 1;
  color: lightgray;
  text-align: left;
  background-image: url("./Assets/Images/neoncar.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
}
.card-btn {
  padding: 0.7 em 2 em;
  background: radial-gradient(hsl(219, 86%, 46%), rgba(97, 9, 168, 0.3));
  color: #eaf2e3;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1 em auto 0;
  border-radius: 25 px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-btn2 {
  background: radial-gradient(hsl(219, 86%, 46%), rgba(97, 9, 168, 0.3));
  color: #eaf2e3;
  font-size: 30px;
  text-decoration: none;
  margin: 1 em auto 0;
  border-radius: 25 px;
  padding-top: 0.1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.05rem;
}

.card:hover {
  transform: rotateX(7deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.card-header {
  text-align: center;
}

.card-img-top {
  max-width: 300px;
}

.contactPad {
  padding: 10vmax;
  text-align: center;
  
}

.displayBackground {
  text-align: center;
  color: white;
  background-color: rgba(138, 138, 138, 0.315);
  /* border-radius: 75px; */
}

#footer {
flood-color: beige;
  text-decoration: none;
  flex-direction: row;
   position:fixed;
   text-align: center;
   bottom:0;
   width:100%;
   height:30px;  
   background:rgba(138, 138, 138, 0.315);
}

.grow {
  display: inline flex;
  color: white;
  transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.grow:hover {
  transform: scale(2);
    text-decoration: none;
}

.iconLabel {
  font-family: "Roboto", sans-serif;
  text-decoration-line: none;
  color: white;
  position: relative;
  margin-right: 0rem;
  margin-left: 0%;
  padding: 0.2rem 0;
}

.introCard {
  color: lightgray;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.80);
  opacity: 0.9;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  height: auto;
  width: auto;
  overflow: hidden;
}

.neonCity {
  background-image: url("./Assets//Images/neon-city.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.9;
  background-color: black;
}

.portfolioPad {
  position: relative;
  text-align: center;
}

.profiledescription {
  font-family: "Roboto", sans-serif;
  text-indent: 2rem;;
  color: white;
  margin: 10px;
  padding-right: 30px;

  background-color: rgba(2, 2, 2, 0.60);
  border-bottom-right-radius: 75px;
  border-top-right-radius: 75px;
}

svg {
  display: inline-flex;
  color: white;
    text-decoration: none;
}

#top {
  overflow: hidden;
}

#top h2 {
  font-family: "Roboto", sans-serif;
  color: lightgray;
  font-size: 1.6rem;
  position: relative;
  margin-right: 0rem;
  margin-left: 0%;
  padding: 0.8rem 0;
}

#top h2::before {
  background-color: black;
  bottom: 0;
  content: " ";
  left: 0rem;
  position: absolute;
  right: 0;
  transform-origin: 100% 0;
  transform: skew(-40deg);
  top: 0;
  z-index: -1;
}

#top-2 {
  overflow: hidden;
}

#top-2 h2 {
  font-family: "Roboto", sans-serif;
  color: lightgray;
  font-size: 1.6rem;
  position: relative;
  margin-left: 6rem;
  padding: 0.8rem 0;
}

#top-2 h2::before {
  background-color: black;
  bottom: 0;
  content: " ";
  left: -9999rem;
  position: absolute;
  right: 0;
  transform-origin: 100% 0;
  transform: skew(-40deg);
  top: 0;
  z-index: -1;
}

.yellowBG {
  background-image: url("./Assets//Images/darkcity.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.9;
  background-color: black;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



