.bgImageStarbase {
  background-color: lightgray;
}

.bgimg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("./Assets//Images/Starbase1.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
.bgimg-2 {
  background-image: url("./Assets/Images/cool-background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
}
.bgimg-3 {
  background-image: url("./Assets//Images/cool-city.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

body {
  min-height: 100%;
}
.navbar-fixed-left {
  position: fixed;
  width: 10%;
  z-index: 2000;
}

.card-font {
  font-size: x-large;
  color: "white";
  font-family:Arial, Helvetica, sans-serif;
  font-family: "Roboto", sans-serif;
}

.card-background {
  opacity: 1 ;
  color: lightgray;
  font-size: 15px;
  text-align: left;
}

.card-background2 {
  font-family: "Roboto", sans-serif;
  font-size: large;
  opacity: 1 ;
  color: lightgray;
  text-align: left;
}
.introCard {
  align-self: center;
  margin-top: 2vmax;
  margin-bottom: 2vmax;
  color: lightgray;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: black;
  opacity: .8;
}

#logo {
  height: auto;
  width: auto;
  overflow: hidden; 
}

.portfolioPad {
  position: relative;
  text-align: center;
  
}

.contactPad {
  padding: 10vmax;
  text-align: center;
}

#top {
  overflow: hidden;
}

#top h2 {
  font-family: "Roboto", sans-serif;
  color: lightgray;
  font-size: 1.6rem;
  position: relative;
  margin-right: 0rem;
  margin-left: 0%;
  padding: 0.8rem 0;
}

#top h2::before {
  background-color: black;
  bottom: 0;
  content: " ";
  left: 0rem;
  position: absolute;
  right: 0;
  transform-origin: 100% 0;
  transform: skew(-40deg);
  top: 0;
  z-index: -1;
}

#top-2 {
  overflow: hidden;
}

#top-2 h2 {
  font-family: "Roboto", sans-serif;
  color: lightgray;
  font-size: 1.6rem;
  position: relative;
  margin-left: 6rem;
  padding: 0.8rem 0;
}

#top-2 h2::before {
  background-color: black;
  bottom: 0;
  content: " ";
  left: -9999rem;
  position: absolute;
  right: 0;
  transform-origin: 100% 0;
  transform: skew(-40deg);
  top: 0;
  z-index: -1;
}

.yellowBG {
  background-image: url("./Assets//Images/darkcity.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: .9;
  background-color: black;
}


